services:
  kijkcijfers-app:
    image: nuallan/kijkcijfers-app:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production 