@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --kompas-orange: #F47B25;
  --kompas-light-orange: #F9A65E;
  --kompas-dark-blue: #00001F;
  --kompas-light-blue: #252549;
  --kompas-bluish-purple: #2D306D;
  --kompas-light-purple: #4D54A4;
  --kompas-red: #D97378;
  --kompas-light-red: #F3B8BA;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 